<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div th:replace="fragments/mail/general.xhtml :: header"></div>

  <p>Uma conta foi cadastrada com este endereço de e-mail. Para ativá-la, siga os passos clicando no link abaixo.</p>

  <ul style="list-style: none; padding-left: 0;">
    <li>
      <b>Nome</b>:
      <span th:text="${usuario.nome}"></span>
    </li>
    <li>
      <b>Login</b>:
      <span th:text="${usuario.login}"></span>
    </li>
    <li>
      <b>Data de criação</b>:
      <span th:text="${#temporals.format(usuario.createdAt, 'dd/MM/yyyy')}"></span>
    </li>
    <li>
      <a th:href="@{${webAppBaseUrl} + '/usuario/confirmacao-cadastro?token=' + ${usuario.senha.resetToken}}">Clique aqui para confirmar o cadastro</a>
    </li>
  </ul>

  <div th:replace="fragments/mail/general.xhtml :: footer"></div>
</body>

</html>
