<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div th:replace="fragments/mail/general.xhtml :: header"></div>

  <p>Você solicitou recuperação de senha. Para cadastrar uma nova senha, siga os passos clicando no link abaixo.</p>

  <p><a th:href="@{${webAppBaseUrl} + '/usuario/recuperacao-senha?token=' + ${usuario.senha.resetToken}}">Clique aqui para cadastrar uma nova senha</a></p>

  <div th:replace="fragments/mail/general.xhtml :: footer"></div>
</body>

</html>
